.favorites-outer {
    flex:none;
    padding:5px 0;
    margin:0;
    border-bottom:2px groove #eeede0;
}

.favorites .item-detail.item-uses {
    flex: 0 0 50px;
}

.favorites .item-detail.item-action {
    flex: 0 0 60px;
}

.item-control.item-favorite.favorite {
    color: #c53131;
}
/*select[name="favorite-items.favorite-icon"] option:nth-child(1)::before {
    content: "test";
}

select[name="favorite-items.favorite-icon"] option {
    font-family: 'Font Awesome 6 Pro';
    font-weight: 900;
}*/