<div class="favorites-outer">

<!-- Inventory -->
{{#if inventory}}
<ol class="items-list inventory-list inventory favorites">
    <!-- Header -->
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "DND5E.ItemContainerCapacityItems"}}</h3>
        <div class="item-detail item-uses">{{localize "DND5E.Charges"}}</div>
        <div class="item-detail item-action">{{localize "DND5E.Usage"}}</div>
        {{#if owner}}
        <div class="item-controls flexrow"></div>
        {{/if}}
    </li>
    <!-- Items -->
    <ol class="item-list">
    {{#each inventory as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <h4>
                    {{item.name~}}
                    {{~#if (gt item.system.quantity 1)}} ({{item.system.quantity}}){{/if}}
                </h4>
            </div>

            <div class="item-detail item-uses">
                {{#if item.hasUses }}
                    <input type="text" value="{{item.system.uses.value}}" placeholder="0"/>
                    / {{item.system.uses.max}}
                {{/if}}
            </div>

            <div class="item-detail item-action">
                {{#if item.system.activation.type }}
                    {{item.labels.activation}}
                {{/if}}
            </div>

            {{#if ../owner}}
            <div class="item-controls flexrow">
                <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title='{{localize "DND5E.ItemEdit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title='{{localize "DND5E.ItemDelete"}}'><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
</ol>
{{/if}}

<!-- Features -->
{{#if features}}
<ol class="items-list inventory-list features favorites">
    <!-- Header -->
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "DND5E.Features"}}</h3>

        <div class="item-detail item-uses">{{localize "DND5E.Uses"}}</div>
        <div class="item-detail item-action">{{localize "DND5E.Usage"}}</div>

        {{#if owner}}
        <div class="item-controls flexrow"></div>
        {{/if}}
    </li>
    <!-- Features -->
    <ol class="item-list">
    {{#each features as |item iid|}}
        <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <h4>
                    {{#if (eq item.type "subclass")}}&rdsh;{{/if}}
                    {{item.name}}
                    {{#if item.system.isOriginalClass}} <i class="original-class fas fa-sun" title="{{localize 'DND5E.ClassOriginal'}}"></i>{{/if}}
                </h4>
            </div>

            {{#if (ne item.system.activation.type "")}}
            <div class="item-detail item-uses">
                {{#if (and item.system.uses (gt item.system.uses.max 0))}}
                    <input type="text" value="{{item.system.uses.value}}" placeholder="0"/>/ {{item.system.uses.max}}
                {{/if}}
            </div>
            <div class="item-detail item-action">
                {{#if item.system.activation.type}}
                    {{item.labels.activation}}
                {{/if}}
            </div>
            {{/if}}


            {{#if ../owner}}
            <div class="item-controls flexrow">
                <a class="item-control item-edit" title="{{localize 'DND5E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DND5E.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
</ol>
{{/if}}

<!-- Spells -->
{{#if hasSpells}}
<ol class="items-list inventory-list spellbook favorites">
{{#each spells as |section|}}
{{#if (gt section.spells.length 0)}}
    <li class="items-header spellbook-header flexrow">
        <div class="item-name flexrow">
            <h3>{{section.label}}</h3>
            <div class="spell-slots">
                {{#if section.usesSlots}}
                {{numberInput section.uses name=(concat "system.spells." section.prop ".value") placeholder="0"}}
                <span class="sep"> / </span>
                <span class="spell-max" data-level="{{section.prop}}" data-slots="{{section.slots}}">
                    {{{section.slots}}}
                </span>
                {{ else }}
                <span>{{{section.uses}}}</span>
                <span class="sep"> / </span>
                <span class="spell-max">{{{section.slots}}}</span>
                {{/if}}
            </div>
        </div>
        <div class="spell-action">{{localize "DND5E.SpellUsage"}}</div>

        <div class="item-controls flexrow"></div>
    </li>

    <ol class="item-list">
    {{#each section.spells as |item i|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
                <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <h4>{{item.name}}</h4>
                {{#if item.system.uses.per }}
                <div class="item-detail spell-uses">Uses {{item.system.uses.value}} / {{item.system.uses.max}}</div>
                {{/if}}
                <div class="spell-comps">
                    {{#each labels.components.all}}
                    <span class="spell-component{{#if tag}} tag{{/if}}">{{abbr}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="spell-action">{{labels.activation}}</div>

            {{#if ../../owner}}
            <div class="item-controls flexrow">
                {{#if section.canPrepare}}
                <a class="item-control item-toggle {{item.toggleClass}}" title="{{item.toggleTitle}}"><i class="fas fa-sun"></i></a>
                {{/if}}
                <a class="item-control item-edit" title="{{localize 'DND5E.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'DND5E.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
    {{/each}}
    </ol>
{{/if}}
{{/each}}
</ol>
{{/if}}

</div>